:root {
    /*Definir cores variaveis*/
    --cor-primaria: #414141;
    --cor-secundaria: #a7a7a7;
    --cor-terciaria: #ebebeb;
    --cor-quartenaria: #c9c9c9;
    --cor-quintenaria: #858585;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');


* {
    /*Ajustando as proporções para 0*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Fazendo que os estilos da header, main e footer sejam caixas*/
    font-family: "Roboto Condensed", sans-serif;
}

body {
    background-color: white; /*A cor de fundo de tudo que não esteja especificado será branca*/
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 3px 0px 0px var(--cor-terciaria), 
    2px 2px 4px rgba(0, 0, 0, 0.3), 
    3px 3px 6px rgba(0, 0, 0, 0.2), 
    4px 4px 8px rgba(0, 0, 0, 0.1);
}

header { /*Cabeçalho*/
    background-color: var(--cor-secundaria); /*Cor de fundo */
    display: flex; /*Os itens no header vão ter propriedades flex box, por padrão quando a tela diminuir ou aumentar os itens vão pular de linha ou não*/
    align-items: center; /*os itens vão ficar no centro*/
    justify-content: space-between; /*Vai criar um espaço entre a logo e a Nav*/
    padding: 10px 20px; /*O espaçamento dos itens e os cantos da tela*/
    position: fixed; /*O header vai acompanhar a tela mesmo se o user abaixar a tela*/
    top: 0; /*Vai fixar o header no topo*/
    left: 0; /*Vai fixar na esquerda*/
    width: 100%; /*Vai ocupar todo o espaço disponível*/
    z-index: 1000; /*Definir a posição do header na tela, fazendo que ele sempre esconda os conteudos abaixo quando dar scroll down*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /*Sombra do header no main*/
    height: 100px; /*Tamanho do header na tela*/
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo-pesquisa { /*Os .campo são a estilização da barra de pesquisa*/
    padding: 10px;
    font-size: 16px;
    border: transparent;
    border-radius: 20px;
    width: 400px;
    outline: none;
}

.campo-pesquisa:focus {
    border: none;
}

.btn-pesquisa {
    padding: 10px;
    margin-left: -30px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.btn-pesquisa:hover {
    background-color: var(--cor-primaria);
    color: white;
}

.menu ul {
    list-style-type: none; /*A lista não vai ter as ° ou - */
    display: flex; /*Propriedades flex*/
    gap: 20px; /*Os itens da lista vão ter um espaçamento de 20 pixeis entre si*/
    font-family: Arial, Helvetica, sans-serif; /*Fonte dos Textos*/
}

.menu ul li a {
    display: inline-block; /*Os itens vão ser exibidos em linhas como bloquinhos*/
    text-decoration: none;
    color: black; /*cor do texto do botão*/
    /*font-size: ;*/
    padding: 3px 5px;
    border: 2px solid transparent; /*Definir uma borda tranparente*/
    border-radius: 5px; /*A curvatura da borda*/
    transition: background-color 0.3s, color 0.3s, border 0.3s; /*Vai criar uma leve animação de aparecimento desses atributos*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.menu ul li a:hover { /*Vai mudar os butões após passar o mouse por cima*/
    background-color: black;
    color: white;
    border-color: transparent; /*Cor tranparente da borda*/
}

.menu ul li.dropdown {
    position: relative; /*O submenu será relativo a posição do header, ou seja, ele pode acompanhar onde o header estiver sem uma posição fixa*/
}

.menu ul li .submenu {
    display: none; /*Esconde sub itens até que passe o mouse por cima*/
    position: absolute; /*Vai se manter sempre debaixo do botão*/
    top: 110%;
    left: 0;
    background-color: var(--cor-secundaria);
    padding: 5px ;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 10px; /*Define um tamnho minimo*/
}

.menu ul li:hover .submenu {
    display: block;
}

.menu ul li .submenu li a {
    /*margin-left: 15px;*/
    margin-top: 5px;
    width: 100%;
    padding: 6px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

main {
    margin-top: 100px; /*Isto vai garantir que o main esteja 10 pixeis abaixo do header na posição inicial*/
    height: 860px;
}

main p {
    text-indent: 20px;
    text-align: justify;
    margin-top: 5px;
}

.content {
    display: inline-block;
    padding: 20px;
    width: 80vh;
    background-color: rgba(133, 133, 133, 0.5);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 200px;
    margin-bottom: 50px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.4);
}

footer {
    background-color: var(--cor-primaria);
    color: white;
}

footer div {
    text-align: center;
    padding: 10px;
}

footer div i {
    color: white;
    padding: 10px;
    font-size: 50px;
}

footer div p {
    padding: 3px;
}